NodeRed/flows.json
[{"id":"740d204f.519c9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1e5dd1c.486ab","type":"debug","z":"740d204f.519c9","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":40,"wires":[]},{"id":"1cf203b2.658e3c","type":"mqtt in","z":"740d204f.519c9","name":"","topic":"Health/SPO2","qos":"2","datatype":"auto","broker":"e21c226b.5cd5","x":200,"y":200,"wires":[["f020cb93.bd0a18","ff4aac34.73e25","b1e5dd1c.486ab","f994d3c4.dd3c3"]]},{"id":"f020cb93.bd0a18","type":"ui_chart","z":"740d204f.519c9","name":"","group":"911f878a.0f9228","order":1,"width":0,"height":0,"label":"SPo2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"105","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":200,"wires":[[]]},{"id":"308ebeea.622152","type":"ui_chart","z":"740d204f.519c9","name":"","group":"34ed3724.6cbda8","order":1,"width":0,"height":0,"label":"RED","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":660,"wires":[[]]},{"id":"32058ee6.c02232","type":"ui_chart","z":"740d204f.519c9","name":"","group":"5bb0f761.23a928","order":1,"width":0,"height":0,"label":"HR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"250","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":280,"wires":[[]]},{"id":"3acfe2f6.7c447e","type":"mqtt in","z":"740d204f.519c9","name":"","topic":"Health/red","qos":"2","datatype":"auto","broker":"e21c226b.5cd5","x":190,"y":660,"wires":[["308ebeea.622152","875e7bd6.0e42d8"]]},{"id":"883c5302.643aa","type":"mqtt in","z":"740d204f.519c9","name":"","topic":"Health/ir","qos":"2","datatype":"auto","broker":"e21c226b.5cd5","x":190,"y":600,"wires":[["dbb1a6b1.900e48","875e7bd6.0e42d8"]]},{"id":"8593786f.3b8e08","type":"mqtt in","z":"740d204f.519c9","name":"","topic":"Health/HR","qos":"2","datatype":"auto","broker":"e21c226b.5cd5","x":190,"y":280,"wires":[["32058ee6.c02232","6601987a.97b298","b1e5dd1c.486ab","f2ff0ee5.63821"]]},{"id":"a1e3cf58.f7e1b","type":"mqtt in","z":"740d204f.519c9","name":"","topic":"Health/Temp","qos":"2","datatype":"auto","broker":"e21c226b.5cd5","x":190,"y":360,"wires":[["8c832752.5a81b8","b1e5dd1c.486ab","fddc13f5.53abd","e4bd2799.e350f8"]]},{"id":"8c832752.5a81b8","type":"ui_chart","z":"740d204f.519c9","name":"","group":"de41d170.a1a73","order":1,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":360,"wires":[[]]},{"id":"dbb1a6b1.900e48","type":"ui_chart","z":"740d204f.519c9","name":"","group":"a8173cb0.87833","order":1,"width":0,"height":0,"label":"IR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":600,"wires":[[]]},{"id":"ac3369aa.53cec8","type":"mqtt in","z":"740d204f.519c9","name":"","topic":"Health/diff","qos":"2","datatype":"auto","broker":"e21c226b.5cd5","x":200,"y":540,"wires":[["f34ab27a.2355d","875e7bd6.0e42d8"]]},{"id":"f34ab27a.2355d","type":"ui_chart","z":"740d204f.519c9","name":"","group":"34ed3724.6cbda8","order":2,"width":0,"height":0,"label":"Diff","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":540,"wires":[[]]},{"id":"239c988.fbcb568","type":"file","z":"740d204f.519c9","name":"/tmp/logSPO2.txt","filename":"/tmp/logSPO2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":970,"y":60,"wires":[[]]},{"id":"9509bf12.0e5f2","type":"function","z":"740d204f.519c9","name":"write to file","func":"var d = new Date().toLocaleString();\n\nvar b = msg.payload\nmsg.payload = d + \";\" + b;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":60,"wires":[["239c988.fbcb568"]]},{"id":"ff4aac34.73e25","type":"json","z":"740d204f.519c9","name":"","property":"payload","action":"str","pretty":true,"x":610,"y":60,"wires":[["9509bf12.0e5f2"]]},{"id":"dc3a2ef2.72a29","type":"debug","z":"740d204f.519c9","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":180,"wires":[]},{"id":"fddc13f5.53abd","type":"json","z":"740d204f.519c9","name":"","property":"payload","action":"str","pretty":true,"x":610,"y":140,"wires":[["ad8c326c.f65bf"]]},{"id":"6601987a.97b298","type":"json","z":"740d204f.519c9","name":"","property":"payload","action":"str","pretty":true,"x":610,"y":100,"wires":[["dbb598d.5f71868"]]},{"id":"ad8c326c.f65bf","type":"function","z":"740d204f.519c9","name":"write to file","func":"var d = new Date().toISOString().replace(\"Z\", \"\");\n\nvar b = msg.payload\nmsg.payload = d + \";\" + b;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["b3fe439b.e51cb"]]},{"id":"dbb598d.5f71868","type":"function","z":"740d204f.519c9","name":"write to file","func":"var d = new Date().toISOString().replace(\"Z\", \"\");\n\nvar b = msg.payload\nmsg.payload = d + \";\" + b;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":100,"wires":[["672eb5f1.95164c","dc3a2ef2.72a29"]]},{"id":"b3fe439b.e51cb","type":"file","z":"740d204f.519c9","name":"/tmp/logTemp.txt","filename":"/tmp/logTemp.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":140,"wires":[[]]},{"id":"672eb5f1.95164c","type":"file","z":"740d204f.519c9","name":"/tmp/logHR.txt","filename":"/tmp/logHR.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":980,"y":100,"wires":[[]]},{"id":"875e7bd6.0e42d8","type":"debug","z":"740d204f.519c9","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":480,"wires":[]},{"id":"f2ff0ee5.63821","type":"ui_gauge","z":"740d204f.519c9","name":"HR","group":"5bb0f761.23a928","order":2,"width":0,"height":0,"gtype":"gage","title":"HR","label":"BpM","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":340,"wires":[]},{"id":"e4bd2799.e350f8","type":"ui_gauge","z":"740d204f.519c9","name":"Temp","group":"de41d170.a1a73","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"C","format":"{{value}}","min":"33","max":"43","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":420,"wires":[]},{"id":"f994d3c4.dd3c3","type":"ui_gauge","z":"740d204f.519c9","name":"SPO2","group":"911f878a.0f9228","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"% Percent","format":"{{value}}","min":0,"max":"105","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":260,"wires":[]},{"id":"e21c226b.5cd5","type":"mqtt-broker","z":"","name":"mos","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"911f878a.0f9228","type":"ui_group","z":"","name":"SPO2","tab":"824df497.ef29a8","order":1,"disp":false,"width":"6","collapse":false},{"id":"34ed3724.6cbda8","type":"ui_group","z":"","name":"Health","tab":"551d7b4e.ccd844","order":1,"disp":true,"width":12,"collapse":false},{"id":"5bb0f761.23a928","type":"ui_group","z":"","name":"HR","tab":"824df497.ef29a8","order":2,"disp":false,"width":"6","collapse":false},{"id":"de41d170.a1a73","type":"ui_group","z":"","name":"Temp","tab":"824df497.ef29a8","order":3,"disp":false,"width":"6","collapse":false},{"id":"a8173cb0.87833","type":"ui_group","z":"","name":"Pulse","tab":"824df497.ef29a8","order":4,"disp":false,"width":"14","collapse":false},{"id":"824df497.ef29a8","type":"ui_tab","z":"","name":"Health","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"551d7b4e.ccd844","type":"ui_tab","z":"","name":"Health__","icon":"dashboard","order":2,"disabled":false,"hidden":false,"info":"descsfsdfsdf**sdfsdfsdf**"}]